<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>企业区块链信息</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
</head>
<body>
<div class="container">
    <div class="main">
        <h1 th:text="${productName}"></h1>
        <ul class="cbp_tmtimeline">
            <li th:each="QualityTest : ${list}">
                <time class="cbp_tmtime" datetime=""> <span th:text="${QualityTest.detectionTime}">21:30</span></time>
                <div class="cbp_tmicon cbp_tmicon-earth"></div>
                <div class="cbp_tmlabel">
                    <h2 th:text="${QualityTest.testItem}">Courgette daikon</h2>
                    <!--<span th:text="${Aptitude.grade}"></span>-->
                    <p th:text="${QualityTest.explains}">Parsley amaranth tigernut silver beet maize
                        fennel spinach. Ricebean black-eyed pea maize
                        scallion green bean spinach cabbage j铆cama bell
                        pepper carrot onion corn plantain garbanzo. Sierra
                        leone bologi komatsuna celery peanut swiss chard
                        silver beet squash dandelion maize chicory burdock
                        tatsoi dulse radish wakame beetroot.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>