<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{/jquery/jquery-1.9.0.min.js}" type="text/javascript"></script>
    <link th:href="@{/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/ligerUI/skins/Aqua/css/ligerui-all.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/ligerUI/js/ligerui.all.js}" type="text/javascript"></script>
</head>
<body>
<div th:class="fsarea" style="height: 100%">
    <h2>企业信息</h2>
    <div th:class="fscxt">
        <div th:class="applyform">
            <!--<form id="addOrupdate" th:if="${qualityTest !=null}" th:object="${qualityTest}">
                <table>
                    <tr>
                        <th>产品质量检测编号:</th>
                        <td><input  type="text" name="qualityTestId"  th:value="*{qualityTestId}" readonly="readonly"/></td>
                        <th>检查项:</th>
                        <td><input type="text" name="testItem" th:value="*{testItem}"/></td>
                    </tr>
                    <tr>
                        <th>说明:</th>
                        <td><input type="text" name="explains" th:value="*{explains}"/></td>
                        <th>检测时间:</th>
                        <td><input style="width: 100%"  type="text" id="detectionTime" name="detectionTime" th:value="*{detectionTime}"/></td>
                    </tr>
                    <tr>
                        <th>检测机构:</th>
                        <td><input type="text" name="detetionAuth" th:value="*{detetionAuth}"/></td>
                        <th>标准:</th>
                        <td><input type="text" name="standard" th:value="*{standard}"/></td>
                    </tr>
                    <tr>
                        <th>结果:</th>
                        <td><input type="text" name="results" th:value="*{results}"/></td>
                        <th>产品编号:</th>
                        <td><input type="text" name="productId" th:value="*{productId}"/></td>
                    </tr>
                    <tr>
                        <input name="deleted"  type="hidden" th:if="*{deleted!=null}" th:value="*{deleted}" />
                        <input name="createTime" type="hidden" th:if="*{createTime!=null}" th:value="*{createTime}" />
                        <td colspan="1">
                            <input  type="button" value="保存数据" onclick="getSubmit()"/>
                        </td>
                    </tr>
                </table>
            </form>-->
            <form id="addOrupdate" th:if="${qualityTest ==null}">
                <table>
                    <tr>
                        <th>检查项:</th>
                        <td><input type="text" name="testItem"/></td>
                        <th>说明:</th>
                        <td><input type="text" name="explains"/></td>
                    </tr>
                    <tr>
                        <th>检测时间:</th>
                        <td><input style="width: 100%"  type="text" id="detectionTime" name="detectionTime"/></td>
                        <th>检测机构:</th>
                        <td><input type="text" name="detetionAuth"/></td>
                    </tr>
                    <tr>
                        <th>标准:</th>
                        <td><input type="text" name="standard"/></td>
                        <th>结果:</th>
                        <td><input type="text" name="results"/></td>
                    </tr>
                    <tr>
                        <th>产品编号:</th>
                        <td><input type="text" name="productId"/></td>
                        <th></th>
                        <td>
                            <input  type="button" value="保存数据" onclick="getSubmit()"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $('#detectionTime').ligerDateEditor();
    })
    function getSubmit (){
        var data = $('#addOrupdate').serialize();
        $.ajax({
            type: 'POST',
            url: '/qualityTest/AddOrUpdate',
            data: data,
            dataType: 'json',
            success: function(data){
                parent.Back();
            },
            error:function(){
                alert("保存失败");
            }
        });
    }
</script>
</html>